* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  // font-family: "Varela Round", sans-serif;
  // font-family: "Mitr", sans-serif;
  font-family: "Anton", sans-serif;
  transition: background-color 500ms;
  background-color: white;
}
